* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --box-shadow: 1px 1px 3px 1px black;
    --green-border: 4px solid silver;
    --flip-timing: all linear 0.8s;
    --large-text: clamp(0.5rem, 5vh, 1.8rem);
    --xlarge-text: clamp(2rem, 15vh, 5rem);
    --button-color: #267edc;
}
body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
}
.back-button {
    margin: 0 auto;
    margin-top: 1vh;
    width: 50%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: var(--green-border);
    border-radius: 10px;
    background-color: var(--button-color);
}
.game-screen,.game-select-screen,.main-menu-screen,.practice-select-screen,.practice-screen,.image-screen {
    height: 90vh;
    width: 100%;
}
.main-menu-screen,.practice-select-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: var(--xlarge-text);
}
.main-button-practice,.practice-button-animals {
    width: 80vw;
    height: 30vh;
    border: var(--green-border);
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.main-button-game,.practice-button-features {
    width: 80vw;
    height: 40vh;
    border: var(--green-border);
    background-color: var(--button-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.main-button-text {
    width: 100%;
    text-align: center;
    height: 20vh;
}
.practice-grid {
    margin: 0 auto;
    width: 95vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,1fr);
    overflow: scroll;
}
.practice-grid-box {
    margin: 0 auto;
    width: 20vw;
    height: 20vw;
}

.image-screen {
    display: flex;
}

.image {
    margin: 0 auto;
    margin-top: 5vh;
    width: 80vh;
    height: 80vh;
    box-shadow: var(--box-shadow);
}

.navi-button-left {
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    width: 20vw;
    align-items: center;
}
.navi-button-left img {
    transform: rotate(-90deg);
    height: 150px;
    width: 250px;
}
.navi-button-right {
    margin-right: 5vw;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navi-button-right img {
    transform: rotate(90deg);
    height: 150px;
    width: 250px;
}
.game-select-text {
    width: 100%;
    height: 6vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: center;
    font-size: var(--large-text);
}
.game-select-buttons-container {
    margin: 0 auto;
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.game-select-button {
    width: 15vw;
    height: 15vw;
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);
}
.game-select-random {
    margin: 0 auto;
    width: 60%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: var(--green-border);
    background-color: var(--button-color);
    border-radius: 10px;
}
.game-select-random-text {
    font-size: var(--large-text);
    height: 6vh;
    text-align: center;
}
.answer-flipper {
    margin: 0 auto;
    width: 95%;
    height: 76vh;
    margin-top: 1vh;
    background-color: transparent;
}
.answer-flipper-inner {
    position: relative;
    transition: var(--flip-timing);
    transform-style: preserve-3d;
}
.game-screen-inner {
    position: absolute;
    width: 99%;
    height: 99%;
    transition: var(--flip-timing);
    transform-style: preserve-3d;
}

.hint-image-box-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: var(--flip-timing);
}
.hint-image-box {
    height: 48vh;
    width: 25vw;
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);
    transition: var(--flip-timing);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.animal-images-container {
    margin: 0 auto;
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: var(--flip-timing);
    box-shadow: var(--box-shadow);
    background-color: var(--button-color);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.animal-image {
    height: 23vh;
    width: 15vw;
}
.image-box {
    top: 1%;
    left: 1%;
    height: 98%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: var(--flip-timing);
    background-color: transparent;
    box-shadow: var(--box-shadow);
}
.game-screen-inner,.image-box {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.image-box {
    transform: rotateX(180deg);
}
.image-box img {
    height: 72vh;
    width: 72vh;
}
.answer-button {
    margin: 0 auto;
    margin-top: 1vh;
    width: 60%;
    height: 10vh;
    box-shadow: var(--box-shadow);
    border: var(--green-border);
    background-color: var(--button-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-button-text,.back-button-text {
    font-size: var(--large-text);
    width: 40%;
    height: 6vh;
    text-align: center;
}

.spin {
    transform:rotateX(180deg);
    transition: var(--flip-timing);
    transform-style: preserve-3d;
}

.flipped {
    box-shadow: var(--box-shadow);
}

.behind {
    z-index: -100;
    display: none;
}